<% @cart.orderables.each do |orderable| %>
   <% product = orderable.product %>
   <div id="<%= "cart-#{product.id}" %>">
   <div class="product-text">
      <h1><%= product.name %></h1>
      <h2><%= product.description %></h2>
      <p><%= product.full_description %> </p> 
      <%= product.category %>
      <%= product.size %>
      <%= product.color %>
   </div>
   
   <div class="product-price-btn">
      <%= form_with(url: cart_add_path) do |f| %>
         <%= f.hidden_field :id, value: product.id%>
         <%= f.number_field :quantity, value: orderable.quantity, min: 0 %>
         <button type="button"><%=f.submit "добавить"%> </button>
      <%end%>
   </div>
      <%= form_with(url: cart_remove_path)do |f|%>
         <%= f.hidden_field :id, value: product.id%>
         <button type="button"><%=f.submit "Пока"%> </button>
      <%end%>
   <%=orderable.total  %>
<%end%>
