<%= render "layouts/navbar" %>
<body>
<div class="nav-item"
><% if current_user %>
<h1>Ваш профиль</h1>


<hr/> 
    <p> Your email: <%= current_user.email %> </p>
    <p> Your First name: <%= current_user.first_name %> </p>
    <p> Your Last name: <%= current_user.last_name %> </p>
    <p> Your Age: <%= current_user.age %> </p>
    <p> Your City: <%= current_user.sity %> </p>
    <p> Created: <%= current_user.created_at%> </p>
    <p> Updated: <%= current_user.updated_at%> </p>
    <%= link_to "Edit Account", edit_user_registration_path, class:"edit"%>
<%else%>
 <h1>Ваш профиль видимо еще не создан</h1>
 <center>
 <%= image_tag "cat-head.gif", alt: "Your GIF", style: "width: 25%;" %>
  </center>
    <% end %>
</body>