
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<body>
    <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>    
    <nav>
        <div class="nav-bar">
            <i class='bx bx-menu sidebarOpen' ></i>
            <%if current_user&.admin?%>
                <span class="logo navLogo"><a href="#">Shmot_<span style="color: red; font-weight: bold;">admin</span></a></span>
            <% else %>
                <span class="logo navLogo"><a href="#">Shmotochki</a></span>
            <% end %>
            <div class="menu">
                <div class="logo-toggle">
                    <span class="logo"><a href="#">Шмотки</a></span>
                    <i class='bx bx-x siderbarClose'></i>
                </div>

                <ul class="nav-links">
                    <li> <%= link_to "Главная", root_path %></li>
                    <li><%= link_to "Товары", products_path %></li>
                    <li> <%= link_to "Корзина",  root_path %></li>
                    <% if current_user %>
                        <li><%= link_to "Профиль",'/users/profile' %></li>
                        <li><%= link_to "Выход", destroy_user_session_path, 'data-turbo-method': :delete %>
                    <% else %>
                        </li><%= link_to "Вход", new_user_session_path %></li>
                        </li> <%= link_to "Регистрация", new_user_registration_path %></li>
                    <% end %>
                </ul>
            </div>

            <div class="darkLight-searchBox">
                <div class="dark-light">
                    <i class='bx bx-moon moon'></i>
                    <i class='bx bx-sun sun'></i>
                </div>

                <div class="searchBox">
                   <div class="searchToggle">
                    <i class='bx bx-x cancel'></i>
                    <i class='bx bx-search search'></i>
                   </div>

                    <div class="search-field">
                        <input type="text" placeholder="Search...">
                        <i class='bx bx-search'></i>
                    </div>
                </div>
            </div>
        </div>
    </nav>

<script>

const body = document.querySelector("body"),
      nav = document.querySelector("nav"),
      modeToggle = document.querySelector(".dark-light"),
      searchToggle = document.querySelector(".searchToggle"),
      sidebarOpen = document.querySelector(".sidebarOpen"),
      siderbarClose = document.querySelector(".siderbarClose");

      let getMode = localStorage.getItem("mode");
          if(getMode && getMode === "dark-mode"){
            body.classList.add("dark");
          }

// js code to toggle dark and light mode
      modeToggle.addEventListener("click" , () =>{
        modeToggle.classList.toggle("active");
        body.classList.toggle("dark");

        // js code to keep user selected mode even page refresh or file reopen
        if(!body.classList.contains("dark")){
            localStorage.setItem("mode" , "light-mode");
        }else{
            localStorage.setItem("mode" , "dark-mode");
        }
      });

// js code to toggle search box
        searchToggle.addEventListener("click" , () =>{
        searchToggle.classList.toggle("active");
      });
 
      
//   js code to toggle sidebar
sidebarOpen.addEventListener("click" , () =>{
    nav.classList.add("active");
});

body.addEventListener("click" , e =>{
    let clickedElm = e.target;

    if(!clickedElm.classList.contains("sidebarOpen") && !clickedElm.classList.contains("menu")){
        nav.classList.remove("active");
    }
});


</script>

